.title-h2 {
	display: flex;
	justify-content: space-between;
	color: inherit;
	margin-bottom: 30px;
	@include r(1200) {
		margin-bottom: 15px;	
	}
	&--bordered {
		border-width: 0px 0px 1px 0px;
		border-style: solid;
		padding-bottom: 20px;
		@include r(1200) {
			padding-bottom: 10px;	
		}
	}
	&--dark {
		color: $dark;
		border-color: $dark;
	}
	&--accent {
		color: $accent;
		border-color: $accent;
	}
	&--purple {
		color: $purple;
		border-color: $purple;
	}
	&--light {
		border-color: $light;
		color: $light;
	}
	&--side {
		padding-bottom: 10px;
		margin-bottom: 10px;
		@include r(1200) {
			margin-bottom: 15px;	
		}
	}
	&__content {
		display: flex;
		align-items: center;
		flex-grow: 1;
	}
	&__toolbar {
		display: flex;
		align-items: center;
		@include r(1200) {
			display: none;
		}
	}
	&__icon {
		display: block;
		width: 16px;
		height: 16px;
		margin-right: 7px;
	}
	&__text {
		font-weight: 600;
		font-size: 18px;
		text-transform: uppercase;
	}
}