.section {
	padding-top: 70px;
	padding-bottom: 70px;
	&--breadcrumbs {
		padding-top: 16px;
		padding-bottom: 16px;
		background-color: #F2F2F2;
	}
	&--light {
		background-color: $light;
	}
	&--gray {
		background-color: #F2F2F2;
	}
	&--purple {
		background-color: $purple;
	}
	&--top {
		padding-top: 50px;
		padding-bottom: 70px;
	}
	&--bottom {
		padding-bottom: 130px;
	}
}

@include r(1200) {
	
}