.section {
	padding-top: 40px;
	padding-bottom: 40px;
	&--breadcrumbs {
		padding-top: 16px;
		padding-bottom: 16px;
		background-color: #F2F2F2;
	}
	&--light {
		background-color: $light;
		.article-card {
			border: 1px solid #E0E0E0;
		}
		.article-card--side {
			border: none;
			border-bottom: 1px solid #E0E0E0;
		}
	}
	&--gray {
		background-color: #F2F2F2;
	}
	&--purple {
		background-color: $purple;
	}
	&--top {
		padding-top: 50px;
		padding-bottom: 40px;
	}
	&--bottom {
		padding-bottom: 60px;
	}
}

@include r(1200) {
	
}