.text {
	line-height: 1.5;
	h2 {
		display: block;
		margin-bottom: 1em;
		font-weight: bold;
		font-size: 24px;
	}
	h3 {
		font-weight: bold;
		font-size: 20px;
		margin-bottom: 1em;
	}
	h4 {
		font-weight: bold;
		font-size: 18px;
		margin-bottom: 1em;
	}
	h5 {
		font-weight: bold;
		font-size: 16px;
		margin-bottom: 1em;
	}
	p {
		margin-bottom: 1em;
	}
	strong, b {
		font-weight: bold;
	}
	a {
		color: $accent;
		&:hover {
			text-decoration: none;
		}
	}
	i {
		font-style: italic;
	}
	u {
		text-decoration: underline;
	}
	figure {
		display: block;
		margin-bottom: 1.5em;
	}
	picture {
		display: block;
		margin-bottom: 5px;
	}
	blockquote {
		font-weight: 300;
		font-size: 20px;
		padding-left: 48px;
		margin-bottom: 1.5em;
		position: relative;
		p {
			&:last-of-type {
				margin-bottom: 0px;
			}
		}
		&:before {
			content: "“";
			left: 0px;
			position: absolute;
			top: -10px;
			color: $accent;
			font-size: 60px;
		}
		&:after {
			content: "”";
			left: 0px;
			position: absolute;
			bottom: -20px;
			color: $accent;
			font-size: 60px;
		}
	}
	img {
		display: block;
		width: 100%;
		height: auto;
	}
	figcaption {
		color: #6F8488;
		font-size: 12px;
	}
	ul {
		list-style-type: disc;
		list-style-position: inside;
		margin-bottom: 1em;
		line-height: 2;
	}
	ol {
		list-style-type: decimal;
		list-style-position: inside;
		margin-bottom: 1em;
		line-height: 2;
	}
	iframe {
		margin-bottom: 1.5em;
	}
}

.accent {
	padding: 25px 25px 25px 42px;
	background: #F7F7F7;
	position: relative;
	margin-bottom: 1em;
	p {
		&:last-of-type {
			margin-bottom: 0px;
		}
	}
	&:before {
		content: "";
		display: block;
		position: absolute;
		width: 2px;
		top: 25px;
		bottom: 25px;
		background-color: $accent;
		left: 20px;
	}
}

@include r(1200) {

}