.sidebar {
	border-radius: 5px;
	display: block;
	width: 100%;
	padding: 20px;
	margin-bottom: 20px;
	@include r(1200) {
		margin-bottom: 10px;
	}
	&--links {
		padding-top: 0px;
		padding-bottom: 0px;
	}
	&--light {
		background-color: $light;
	}
	&--gray {
		background: #F7F7F7;
		@include r(1200) {
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
	&--purple {
		background-color: $purple;
		color: $light;
	}
	&__title {
		
	}
	&__articles {
		margin-bottom: 30px;
		&:last-child {
			margin-bottom: 0px;
		}
	}
	&__line {
		display: flex;
		justify-content: space-between;
		padding-top: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid #E0E0E0;
		font-size: 14px;
		&:last-of-type {
			border-bottom: 0px;
		}
		@include r(1200) {
			padding-top: 10px;
			padding-bottom: 10px;
			flex-direction: column
		}
		&--small {
			padding-top: 0px;
			padding-bottom: 0px;
		}
		a {
			text-decoration: none;
			color: $dark;
			&:hover {
				text-decoration: underline;
			}
		}
		b {
			font-weight: 600;
		}
	}
	&__info {
		font-weight: 300;
		&:last-child {
			margin-bottom: 0px;
		}
		@include r(1200) {
			margin-bottom: 10px;
		}
	}
	&__event {
		width: 50%;
		border-right: 1px solid #E0E0E0;
		padding-left: 25px;
		@include r(1200) {
			width: 100%;
			padding-left: 0px;
			text-align: center;
			margin-bottom: 20px;
			border: none;
		}
		&:first-of-type {
			padding-left: 5px;
			@include r(1200) {
				padding: 0px;
			}
		}
		&:last-of-type {
			border: none;
			margin-bottom: 0px;
		}
	}
	&__event-title {
		color: $accent;
		font-size: 14px;
		text-transform: uppercase;
		margin-bottom: 10px;
		@include r(1200) {
			margin-bottom: 5px;
		}
	}
}

@include r(1200) {
	
}