.person-preview {
	display: flex;
	align-items: center;
	font-size: 14px;
	&__thumb {
		margin-right: 10px;
		flex-shrink: 0;
		border-radius: 20px;
		overflow: hidden;
		width: 36px;
		height: 36px;
		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			display: block;
		}
	}
	&__content {

	}
	&__name {
		font-weight: 600;
		&--accent {
			color: $accent;
		}
		&--purple {
			color: $purple;
		}
		&--light {
			color: $light;
		}
	}
	&__date {
		font-weight: 300;
		color: #828282;
		&--light {
			color: $light;
		}
	}
}