.slider-main {
	&__container {

	}
	&__slide {

	}
	&__control {

	}
	&__wrapper {
		@include r(1200) {
			margin-bottom: 7px;
		}
	}
	&__pagination {
		text-align: center;
		display: none;
		@include r(1200) {
			display: block;
		}
	}
	&__navigation {
		display: block;
		@include r(1200) {
			display: none;
		}
	}
	&__bullet {
		border-radius: 10px;
		background-color: #E0E0E0;
		margin-left: 6px;
		margin-right: 6px;
		height: 10px;
		width: 10px;
		display: inline-block;
		transition: 0.3s all;
		&--active {
			background-color: $accent;
		}
	}
	&__link {
		display: block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		z-index: 1;
		cursor: pointer;
		transition: 0.3s all;
		&:hover {
			opacity: 0.7;
		}
		svg {
			display: block;
			width: 24px;
			height: 36px;
			fill: $light;
		}
		&--prev {
			left: 20px;
		}
		&--next {
			right: 20px;
		}
		&--disabled {
			cursor: auto;
			opacity: 0.5;
		}
	}
}

@include r(1200) {
	
}