.top-link {
	display: block;
	bottom: 50px;
	right: 80px;
	position: fixed;
	transition: 0.3s all;
	opacity: 1;
	&--hidden {
		opacity: 0;
		visibility: hidden;
	}
	@include r(1200) {
		display: none;
	}
	&:hover {
		opacity: 0.7;
	}
	&__icon {
		display: block;
		width: 60px;
		height: 60px;
	}
}