<!DOCTYPE html>
<html lang="ru">
<head>
    <title>11.Люди и блоги</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body">
    @@include("../blocks/modules/header/header.html")
    <main class="main">
        <section class="section section--breadcrumbs">
            <div class="container">
                <div class="breadcrumbs">
                    <a href="" class="breadcrumbs__link">
                        Главная
                    </a>
                    <svg class="icon-svg breadcrumbs__icon">
                        <use xlink:href="img/sprites/sprite.svg#icon-breadcrumbs-arrow"></use>
                    </svg>
                    <span class="breadcrumbs__link">
                        Люди и блоги
                    </span>
                </div>
            </div>
        </section>
        <section class="section section--top">
            <div class="container">
                <div class="title-h2 title-h2--accent title-h2--bordered">
                    <div class="title-h2__content">
                        <h2 class="title-h2__text">
                            Актуальное
                        </h2>
                    </div>
                    <div class="title-h2__toolbar">
                        <a href="" class="btn btn--160 btn--accent">
                            <span>
                                Показать еще
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    @@include("../blocks/modules/footer/footer.html")
    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>
</body>
</html>
