<!DOCTYPE html>
<html lang="ru">
<head>
    <title>11.Люди и блоги</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body">
    @@include("../blocks/modules/header/header.html")
    <main class="main">
        <section class="section section--breadcrumbs">
            <div class="container">
                <div class="breadcrumbs">
                    <a href="" class="breadcrumbs__link">
                        Главная
                    </a>
                    <svg class="icon-svg breadcrumbs__icon">
                        <use xlink:href="img/sprites/sprite.svg#icon-breadcrumbs-arrow"></use>
                    </svg>
                    <span class="breadcrumbs__link">
                        Люди и блоги
                    </span>
                </div>
            </div>
        </section>
        <section class="section section--top">
            <div class="container">
                <h1 class="title-h1 title-h1--mb-small">
                    Люди и блоги
                </h1>
                <div class="title-h2 title-h2--accent title-h2--bordered">
                    <div class="title-h2__content">
                        <h2 class="title-h2__text">
                            Популярное
                        </h2>
                    </div>
                    <div class="title-h2__toolbar">
                        <a href="" class="btn btn--offer btn--purple">
                            <span>
                                Предложить новость
                            </span>
                            <div class="btn__offer-icon">
                                <svg class="icon-svg btn__icon btn__icon--offer">
                                    <use xlink:href="img/sprites/sprite.svg#icon-link"></use>
                                </svg>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="layout layout--flex">
                    <div class="layout__column layout__column--9">
                        <div class="articles">
                            <div class="articles__content articles__content--space-between">
                                <div class="articles__item">
                                    <a href="" class="article-main">
                                        <div class="article-main__thumb">
                                            <picture class="article-main__picture">
                                                <source media="(max-width: 400px)" srcset="https://placehold.it/600x400"></source>
                                                <source media="(max-width: 800px)" srcset="https://placehold.it/800x600"></source>
                                                <img src="https://placehold.it/900x460" alt="Название новости">
                                            </picture>
                                        </div>
                                        <div class="article-main__content">
                                            <!-- <div class="article-main__tags">
                                                <span class="article-main__tag article-main__tag--yellow">
                                                    Актуальное
                                                </span>
                                            </div>
                                            <time class="article-main__time" datetime="2020-07-15 08:15">
                                                15 июля | 08:15
                                            </time> -->
                                            <div class="article-main__author">
                                                @@include("../blocks/modules/person-preview/person-preview.html")
                                            </div>
                                            
                                            <h2 class="article-main__title">
                                                Новый порядок лечения больных коронавирусом в Узбекистане
                                            </h2>
                                        </div>
                                    </a>
                                </div>
                                <div class="articles__item articles__item--33">
                                    @@include("../blocks/modules/article-card/article-card--person.html")
                                </div>
                                <div class="articles__item articles__item--33">
                                    @@include("../blocks/modules/article-card/article-card--person.html")
                                </div>
                                <div class="articles__item articles__item--33">
                                    @@include("../blocks/modules/article-card/article-card--person.html")
                                </div>
                                <div class="articles__item articles__item--33">
                                    @@include("../blocks/modules/article-card/article-card--person.html")
                                </div>
                                <div class="articles__item articles__item--33">
                                    @@include("../blocks/modules/article-card/article-card--person.html")
                                </div>
                                <div class="articles__item articles__item--33">
                                    @@include("../blocks/modules/article-card/article-card--person.html")
                                </div>
                                <div class="articles__item articles__item--clear articles__item--33"></div>
                                <div class="articles__item articles__item--clear articles__item--33"></div>
                            </div>
                        </div>
                    </div>
                    <div class="layout__column layout__column--3">
                        <sidebar class="sidebar sidebar--light">
                            <div class="sidebar__title">
                                <div class="title-h2 title-h2--accent title-h2--side title-h2--bordered">
                                    <div class="title-h2__content">
                                        <h2 class="title-h2__text">
                                         Новости пользователей
                                     </h2>
                                 </div>
                             </div>
                         </div> 
                         <div class="sidebar__articles">
                            <a href="" class="article-card article-card--side">
                                <div class="article-card__content article-card__content--side">
                                    <div class="article-card__person">
                                        @@include("../blocks/modules/person-preview/person-preview.html")
                                    </div>
                                    <h3 class="article-card__title">
                                        10 советов начинающему блоггеру
                                    </h3>
                                    <p class="article-card__text">
                                        Как подобрать качественный текст, подобрать картинки, найти друзей и получить грант... <span>читать далее</span>
                                    </p>
                                    <div class="article-card__counters">
                                        <div class="article-card__counter">
                                            <svg class="icon-svg article-card__counter-icon">
                                                <use xlink:href="img/sprites/sprite.svg#icon-comments"></use>
                                            </svg>
                                            <span class="article-card__counter-text">
                                                5
                                            </span>
                                        </div>
                                        <div class="article-card__counter">
                                            <svg class="icon-svg article-card__counter-icon">
                                                <use xlink:href="img/sprites/sprite.svg#icon-eye"></use>
                                            </svg>
                                            <span class="article-card__counter-text">
                                                163
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="" class="article-card article-card--side">
                                <div class="article-card__content article-card__content--side">
                                    <div class="article-card__person">
                                        @@include("../blocks/modules/person-preview/person-preview.html")
                                    </div>
                                    <h3 class="article-card__title">
                                        10 советов начинающему блоггеру
                                    </h3>
                                    <p class="article-card__text">
                                        Как подобрать качественный текст, подобрать картинки, найти друзей и получить грант... <span>читать далее</span>
                                    </p>
                                    <div class="article-card__counters">
                                        <div class="article-card__counter">
                                            <svg class="icon-svg article-card__counter-icon">
                                                <use xlink:href="img/sprites/sprite.svg#icon-comments"></use>
                                            </svg>
                                            <span class="article-card__counter-text">
                                                5
                                            </span>
                                        </div>
                                        <div class="article-card__counter">
                                            <svg class="icon-svg article-card__counter-icon">
                                                <use xlink:href="img/sprites/sprite.svg#icon-eye"></use>
                                            </svg>
                                            <span class="article-card__counter-text">
                                                163
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="" class="article-card article-card--side">
                                <div class="article-card__content article-card__content--side">
                                    <div class="article-card__person">
                                        @@include("../blocks/modules/person-preview/person-preview.html")
                                    </div>
                                    <h3 class="article-card__title">
                                        10 советов начинающему блоггеру
                                    </h3>
                                    <p class="article-card__text">
                                        Как подобрать качественный текст, подобрать картинки, найти друзей и получить грант... <span>читать далее</span>
                                    </p>
                                    <div class="article-card__counters">
                                        <div class="article-card__counter">
                                            <svg class="icon-svg article-card__counter-icon">
                                                <use xlink:href="img/sprites/sprite.svg#icon-comments"></use>
                                            </svg>
                                            <span class="article-card__counter-text">
                                                5
                                            </span>
                                        </div>
                                        <div class="article-card__counter">
                                            <svg class="icon-svg article-card__counter-icon">
                                                <use xlink:href="img/sprites/sprite.svg#icon-eye"></use>
                                            </svg>
                                            <span class="article-card__counter-text">
                                                163
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <a href="" class="btn btn--grow btn--accent">
                            <span>
                                Показать еще
                            </span>
                        </a>
                    </sidebar>
                </div>
            </div>
        </div>
    </section>
</main>
@@include("../blocks/modules/footer/footer.html")
<script src="js/main.js"></script>
<script src="js/vendor.js"></script>
</body>
</html>
