<!DOCTYPE html>
<html lang="ru">
<head>
    <title>12.Все блоги</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body">
    @@include("../blocks/modules/header/header.html")
    <main class="main">
        <section class="section section--breadcrumbs">
            <div class="container">
                <div class="breadcrumbs">
                    <a href="" class="breadcrumbs__link">
                        Главная
                    </a>
                    <svg class="icon-svg breadcrumbs__icon">
                        <use xlink:href="img/sprites/sprite.svg#icon-breadcrumbs-arrow"></use>
                    </svg>
                    <a href="" class="breadcrumbs__link">
                        Люди и блоги
                    </a>
                    <svg class="icon-svg breadcrumbs__icon">
                        <use xlink:href="img/sprites/sprite.svg#icon-breadcrumbs-arrow"></use>
                    </svg>
                    <span class="breadcrumbs__link breadcrumbs__link--static">
                        Все блоги
                    </span>
                </div>
            </div>
        </section>
        <section class="section section--top section--bottom">
            <div class="container">
                <h1 class="title-h1">
                    Все блоги
                </h1>
                <div class="articles">
                    <div class="articles__content articles__content--space-between">
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card--blog.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card--blog.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card--blog.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card--blog.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card--person-text.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card--person-text.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card--blog.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card--blog.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card--blog.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card--blog.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card--blog.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card--blog.html")
                        </div>
                        <div class="articles__item articles__item--clear articles__item--25"></div>
                        <div class="articles__item articles__item--clear articles__item--25"></div>
                    </div>
                    <div class="articles__toolbar">
                        <a href="" class="btn btn--180 btn--accent">
                            <span>
                                Показать еще
                            </span>
                            <svg class="icon-svg btn__icon">
                                <use xlink:href="img/sprites/sprite.svg#icon-btn-loading"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    @@include("../blocks/modules/footer/footer.html")
    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>
</body>
</html>
