<!DOCTYPE html>
<html lang="ru">
<head>
    <title>18.Одна новость Важно знать</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body">
    @@include("../blocks/modules/header/header.html")
    <main class="main">
        <section class="section section--breadcrumbs">
            <div class="container">
                <div class="breadcrumbs">
                    <a href="" class="breadcrumbs__link">
                        Главная
                    </a>
                    <svg class="icon-svg breadcrumbs__icon">
                        <use xlink:href="img/sprites/sprite.svg#icon-breadcrumbs-arrow"></use>
                    </svg>
                    <span class="breadcrumbs__link breadcrumbs__link--static">
                        Важно знать-Новость
                    </span>
                </div>
            </div>
        </section>
        <section class="section section--light section--top">
            <div class="container">
                <h1 class="title-h1 title-h1--single">
                    Правила пребывания на территории РФ
                </h1>
                <div class="single-content">
                    <div class="single-content__main">
                        @@include("../blocks/modules/text/text.html")
                    </div>
                </div>
            </div>
        </section>
        <section class="section section--bottom">
            <div class="container">
                <div class="title-h2 title-h2--accent title-h2--bordered">
                    <div class="title-h2__content">
                        <h2 class="title-h2__text">
                            Еще важные статьи
                        </h2>
                    </div>
                </div>
                <div class="articles">
                    <div class="articles__content articles__content--clamps">
                        <a href="" class="link">
                            Как поступить в Вуз
                        </a>
                        <a href="" class="link">
                            Как получить пособия на инвалида
                        </a>
                        <a href="" class="link">
                            Почему важно знать все о...
                        </a>
                        <a href="" class="link">
                            Сколько
                        </a>
                        <a href="" class="link">
                            Материалы о поступлении в вузы
                        </a>
                        <a href="" class="link">
                            Материалы о поступлении в вузы
                        </a>
                        <a href="" class="link">
                            Материалы о поступлении в вузы
                        </a>
                        <a href="" class="link">
                            Материалы о поступлении в вузы
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </main>
    @@include("../blocks/modules/footer/footer.html")
    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>
</body>
</html>
