<!DOCTYPE html>
<html lang="ru">
<head>
    <title>2.Новости</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body">
    @@include("../blocks/modules/header/header.html")
    <main class="main">
        <section class="section section--breadcrumbs">
            <div class="container">
                <div class="breadcrumbs">
                    <a href="" class="breadcrumbs__link">
                        Главная
                    </a>
                    <svg class="icon-svg breadcrumbs__icon">
                        <use xlink:href="img/sprites/sprite.svg#icon-breadcrumbs-arrow"></use>
                    </svg>
                    <span class="breadcrumbs__link breadcrumbs__link--static">
                        Новости
                    </span>
                </div>
            </div>
        </section>
        <section class="section section--breadcrumbs section--light">
            <div class="container">
                @@include("../blocks/modules/cat-menu/cat-menu.html")
            </div>
        </section>
        <section class="section--top">
            <div class="container">
                <h1 class="title-h1">
                    Новости
                </h1>
                <div class="title-h2 title-h2--accent title-h2--bordered">
                    <div class="title-h2__content">
                        <h2 class="title-h2__text">
                            Актуальное
                        </h2>
                    </div>
                    <div class="title-h2__toolbar">
                        <a href="" class="btn btn--160 btn--accent">
                            <span>
                                Показать еще
                            </span>
                        </a>
                    </div>
                </div>
                <div class="articles">
                    <div class="articles__content articles__content--space-between">
                        <div class="articles__item articles__item--75">
                            <a href="" class="article-main">
                                <div class="article-main__thumb">
                                    <picture class="article-main__picture">
                                        <source media="(max-width: 400px)" srcset="https://placehold.it/600x400"></source>
                                        <source media="(max-width: 800px)" srcset="https://placehold.it/800x600"></source>
                                        <img src="https://placehold.it/900x460" alt="Название новости">
                                    </picture>
                                </div>
                                <div class="article-main__content">
                                    <div class="article-main__tags">
                                        <span class="article-main__tag article-main__tag--yellow">
                                            Актуальное
                                        </span>
                                    </div>
                                    <time class="article-main__time" datetime="2020-07-15 08:15">
                                        15 июля | 08:15
                                    </time>
                                    <h2 class="article-main__title">
                                        Новый порядок лечения больных коронавирусом в Узбекистане
                                    </h2>
                                </div>
                            </a>
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card.html")
                        </div>
                        <div class="articles__item articles__item--clear articles__item--25"></div>
                        <div class="articles__item articles__item--clear articles__item--25"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section--purple">
            <div class="container">
                <div class="title-h2 title-h2--light title-h2--bordered">
                    <div class="title-h2__content">
                        <h2 class="title-h2__text">
                            События дня
                        </h2>
                    </div>
                    <div class="title-h2__toolbar">
                        <a href="" class="btn btn--160 btn--light">
                            <span>
                                Показать еще
                            </span>
                        </a>
                    </div>
                </div>
                <div class="articles">
                    <div class="articles__content articles__content--space-between">
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card.html")
                        </div>
                        <div class="articles__item articles__item--clear articles__item--25"></div>
                        <div class="articles__item articles__item--clear articles__item--25"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section--light">
            <div class="container">
                <div class="title-h2 title-h2--bordered">
                    <div class="title-h2__content">
                        <h2 class="title-h2__text">
                            Мы и мир
                        </h2>
                    </div>
                    <div class="title-h2__toolbar">
                        <a href="" class="btn btn--160 btn--accent">
                            <span>
                                Показать еще
                            </span>
                        </a>
                    </div>
                </div>
                <div class="articles">
                    <div class="articles__content articles__content--space-between">
                        <div class="articles__item articles__item--75">
                            <a href="" class="article-main">
                                <div class="article-main__thumb">
                                    <picture class="article-main__picture">
                                        <source media="(max-width: 400px)" srcset="https://placehold.it/600x400"></source>
                                        <source media="(max-width: 800px)" srcset="https://placehold.it/800x600"></source>
                                        <img src="https://placehold.it/900x460" alt="Название новости">
                                    </picture>
                                </div>
                                <div class="article-main__content">
                                    <div class="article-main__tags">
                                        <span class="article-main__tag article-main__tag--yellow">
                                            Актуальное
                                        </span>
                                    </div>
                                    <time class="article-main__time" datetime="2020-07-15 08:15">
                                        15 июля | 08:15
                                    </time>
                                    <h2 class="article-main__title">
                                        Новый порядок лечения больных коронавирусом в Узбекистане
                                    </h2>
                                </div>
                            </a>
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card.html")
                        </div>
                        <div class="articles__item articles__item--clear articles__item--25"></div>
                        <div class="articles__item articles__item--clear articles__item--25"></div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    @@include("../blocks/modules/footer/footer.html")
    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>
</body>
</html>
