<!DOCTYPE html>
<html lang="ru">
<head>
    <title>5.События дня</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body">
    @@include("../blocks/modules/header/header.html")
    <main class="main">
        <section class="section section--breadcrumbs">
            <div class="container">
                <div class="breadcrumbs">
                    <a href="" class="breadcrumbs__link">
                        Главная
                    </a>
                    <svg class="icon-svg breadcrumbs__icon">
                        <use xlink:href="img/sprites/sprite.svg#icon-breadcrumbs-arrow"></use>
                    </svg>
                    <a href="" class="breadcrumbs__link">
                        Новости
                    </a>
                    <svg class="icon-svg breadcrumbs__icon">
                        <use xlink:href="img/sprites/sprite.svg#icon-breadcrumbs-arrow"></use>
                    </svg>
                    <span class="breadcrumbs__link breadcrumbs__link--static">
                        События дня
                    </span>
                </div>
            </div>
        </section>
        <section class="section section--light section--top">
            <div class="container">
                <h1 class="title-h1">
                    События дня
                </h1>
                <div class="articles">
                    <div class="articles__content articles__content--space-between">
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card--text.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card--text.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card--text.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card--text.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card.html")
                        </div>
                        <div class="articles__item articles__item--clear articles__item--25"></div>
                        <div class="articles__item articles__item--clear articles__item--25"></div>
                    </div>
                    <div class="articles__toolbar">
                        <a href="" class="btn btn--180 btn--accent">
                            <span>
                                Показать еще
                            </span>
                            <svg class="icon-svg btn__icon">
                                <use xlink:href="img/sprites/sprite.svg#icon-btn-loading"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section--bottom section--light">
            <div class="container">
                <div class="title-h2 title-h2--accent title-h2--bordered">
                    <div class="title-h2__content">
                        <h2 class="title-h2__text">
                            Популярное
                        </h2>
                    </div>
                </div>
                <div class="slider-bottom">
                    <div class="swiper-container slider-bottom__container slider-bottom__container--4">
                        <div class="swiper-wrapper slider-bottom__wrapper">
                            <div class="swiper-slide slider-bottom__slide">
                                <a href="" class="article-card article-card--slide">
                                    <div class="article-card__content">
                                        <p class="article-card__info">
                                            <span class="article-card__category">Актуальное</span> <time class="article-card__date">15 июля |  08:15</time>
                                        </p>
                                        <h3 class="article-card__title">
                                            Почему не получается запустить товарные объявления
                                        </h3>
                                        <p class="article-card__text article-card__text--large">
                                            В Google Cправке четко указаны требования к рекламодателям в Google Shopping Ads. Подробно описан перечень запрещенного контента. Поэтому первое, что вы должны сделать — внимательно прочитать правила в Google Справке и проверить, не нарушает ли их ваш бизнес... <span>читать далее</span>
                                        </p>
                                        <div class="article-card__counters">
                                            <div class="article-card__counter">
                                                <svg class="icon-svg article-card__counter-icon">
                                                    <use xlink:href="img/sprites/sprite.svg#icon-comments"></use>
                                                </svg>
                                                <span class="article-card__counter-text">
                                                    5
                                                </span>
                                            </div>
                                            <div class="article-card__counter">
                                                <svg class="icon-svg article-card__counter-icon">
                                                    <use xlink:href="img/sprites/sprite.svg#icon-eye"></use>
                                                </svg>
                                                <span class="article-card__counter-text">
                                                    163
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide slider-bottom__slide">
                                <a href="" class="article-card article-card--slide">
                                    <div class="article-card__content">
                                        <p class="article-card__info">
                                            <span class="article-card__category">Актуальное</span> <time class="article-card__date">15 июля |  08:15</time>
                                        </p>
                                        <h3 class="article-card__title">
                                            Почему не получается запустить товарные объявления
                                        </h3>
                                        <p class="article-card__text article-card__text--large">
                                            В Google Cправке четко указаны требования к рекламодателям в Google Shopping Ads. Подробно описан перечень запрещенного контента. Поэтому первое, что вы должны сделать — внимательно прочитать правила в Google Справке и проверить, не нарушает ли их ваш бизнес... <span>читать далее</span>
                                        </p>
                                        <div class="article-card__counters">
                                            <div class="article-card__counter">
                                                <svg class="icon-svg article-card__counter-icon">
                                                    <use xlink:href="img/sprites/sprite.svg#icon-comments"></use>
                                                </svg>
                                                <span class="article-card__counter-text">
                                                    5
                                                </span>
                                            </div>
                                            <div class="article-card__counter">
                                                <svg class="icon-svg article-card__counter-icon">
                                                    <use xlink:href="img/sprites/sprite.svg#icon-eye"></use>
                                                </svg>
                                                <span class="article-card__counter-text">
                                                    163
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide slider-bottom__slide">
                                <a href="" class="article-card article-card--slide">
                                    <div class="article-card__content">
                                        <p class="article-card__info">
                                            <span class="article-card__category">Актуальное</span> <time class="article-card__date">15 июля |  08:15</time>
                                        </p>
                                        <h3 class="article-card__title">
                                            Почему не получается запустить товарные объявления
                                        </h3>
                                        <p class="article-card__text article-card__text--large">
                                            В Google Cправке четко указаны требования к рекламодателям в Google Shopping Ads. Подробно описан перечень запрещенного контента. Поэтому первое, что вы должны сделать — внимательно прочитать правила в Google Справке и проверить, не нарушает ли их ваш бизнес... <span>читать далее</span>
                                        </p>
                                        <div class="article-card__counters">
                                            <div class="article-card__counter">
                                                <svg class="icon-svg article-card__counter-icon">
                                                    <use xlink:href="img/sprites/sprite.svg#icon-comments"></use>
                                                </svg>
                                                <span class="article-card__counter-text">
                                                    5
                                                </span>
                                            </div>
                                            <div class="article-card__counter">
                                                <svg class="icon-svg article-card__counter-icon">
                                                    <use xlink:href="img/sprites/sprite.svg#icon-eye"></use>
                                                </svg>
                                                <span class="article-card__counter-text">
                                                    163
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide slider-bottom__slide">
                                <a href="" class="article-card article-card--slide">
                                    <div class="article-card__content">
                                        <p class="article-card__info">
                                            <span class="article-card__category">Актуальное</span> <time class="article-card__date">15 июля |  08:15</time>
                                        </p>
                                        <h3 class="article-card__title">
                                            Почему не получается запустить товарные объявления
                                        </h3>
                                        <p class="article-card__text article-card__text--large">
                                            В Google Cправке четко указаны требования к рекламодателям в Google Shopping Ads. Подробно описан перечень запрещенного контента. Поэтому первое, что вы должны сделать — внимательно прочитать правила в Google Справке и проверить, не нарушает ли их ваш бизнес... <span>читать далее</span>
                                        </p>
                                        <div class="article-card__counters">
                                            <div class="article-card__counter">
                                                <svg class="icon-svg article-card__counter-icon">
                                                    <use xlink:href="img/sprites/sprite.svg#icon-comments"></use>
                                                </svg>
                                                <span class="article-card__counter-text">
                                                    5
                                                </span>
                                            </div>
                                            <div class="article-card__counter">
                                                <svg class="icon-svg article-card__counter-icon">
                                                    <use xlink:href="img/sprites/sprite.svg#icon-eye"></use>
                                                </svg>
                                                <span class="article-card__counter-text">
                                                    163
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide slider-bottom__slide">
                                <a href="" class="article-card article-card--slide">
                                    <div class="article-card__content">
                                        <p class="article-card__info">
                                            <span class="article-card__category">Актуальное</span> <time class="article-card__date">15 июля |  08:15</time>
                                        </p>
                                        <h3 class="article-card__title">
                                            Почему не получается запустить товарные объявления
                                        </h3>
                                        <p class="article-card__text article-card__text--large">
                                            В Google Cправке четко указаны требования к рекламодателям в Google Shopping Ads. Подробно описан перечень запрещенного контента. Поэтому первое, что вы должны сделать — внимательно прочитать правила в Google Справке и проверить, не нарушает ли их ваш бизнес... <span>читать далее</span>
                                        </p>
                                        <div class="article-card__counters">
                                            <div class="article-card__counter">
                                                <svg class="icon-svg article-card__counter-icon">
                                                    <use xlink:href="img/sprites/sprite.svg#icon-comments"></use>
                                                </svg>
                                                <span class="article-card__counter-text">
                                                    5
                                                </span>
                                            </div>
                                            <div class="article-card__counter">
                                                <svg class="icon-svg article-card__counter-icon">
                                                    <use xlink:href="img/sprites/sprite.svg#icon-eye"></use>
                                                </svg>
                                                <span class="article-card__counter-text">
                                                    163
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide slider-bottom__slide">
                                <a href="" class="article-card article-card--slide">
                                    <div class="article-card__content">
                                        <p class="article-card__info">
                                            <span class="article-card__category">Актуальное</span> <time class="article-card__date">15 июля |  08:15</time>
                                        </p>
                                        <h3 class="article-card__title">
                                            Почему не получается запустить товарные объявления
                                        </h3>
                                        <p class="article-card__text article-card__text--large">
                                            В Google Cправке четко указаны требования к рекламодателям в Google Shopping Ads. Подробно описан перечень запрещенного контента. Поэтому первое, что вы должны сделать — внимательно прочитать правила в Google Справке и проверить, не нарушает ли их ваш бизнес... <span>читать далее</span>
                                        </p>
                                        <div class="article-card__counters">
                                            <div class="article-card__counter">
                                                <svg class="icon-svg article-card__counter-icon">
                                                    <use xlink:href="img/sprites/sprite.svg#icon-comments"></use>
                                                </svg>
                                                <span class="article-card__counter-text">
                                                    5
                                                </span>
                                            </div>
                                            <div class="article-card__counter">
                                                <svg class="icon-svg article-card__counter-icon">
                                                    <use xlink:href="img/sprites/sprite.svg#icon-eye"></use>
                                                </svg>
                                                <span class="article-card__counter-text">
                                                    163
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide slider-bottom__slide">
                                <a href="" class="article-card article-card--slide">
                                    <div class="article-card__content">
                                        <p class="article-card__info">
                                            <span class="article-card__category">Актуальное</span> <time class="article-card__date">15 июля |  08:15</time>
                                        </p>
                                        <h3 class="article-card__title">
                                            Почему не получается запустить товарные объявления
                                        </h3>
                                        <p class="article-card__text article-card__text--large">
                                            В Google Cправке четко указаны требования к рекламодателям в Google Shopping Ads. Подробно описан перечень запрещенного контента. Поэтому первое, что вы должны сделать — внимательно прочитать правила в Google Справке и проверить, не нарушает ли их ваш бизнес... <span>читать далее</span>
                                        </p>
                                        <div class="article-card__counters">
                                            <div class="article-card__counter">
                                                <svg class="icon-svg article-card__counter-icon">
                                                    <use xlink:href="img/sprites/sprite.svg#icon-comments"></use>
                                                </svg>
                                                <span class="article-card__counter-text">
                                                    5
                                                </span>
                                            </div>
                                            <div class="article-card__counter">
                                                <svg class="icon-svg article-card__counter-icon">
                                                    <use xlink:href="img/sprites/sprite.svg#icon-eye"></use>
                                                </svg>
                                                <span class="article-card__counter-text">
                                                    163
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="swiper-slide slider-bottom__slide">
                                <a href="" class="article-card article-card--slide">
                                    <div class="article-card__content">
                                        <p class="article-card__info">
                                            <span class="article-card__category">Актуальное</span> <time class="article-card__date">15 июля |  08:15</time>
                                        </p>
                                        <h3 class="article-card__title">
                                            Почему не получается запустить товарные объявления
                                        </h3>
                                        <p class="article-card__text article-card__text--large">
                                            В Google Cправке четко указаны требования к рекламодателям в Google Shopping Ads. Подробно описан перечень запрещенного контента. Поэтому первое, что вы должны сделать — внимательно прочитать правила в Google Справке и проверить, не нарушает ли их ваш бизнес... <span>читать далее</span>
                                        </p>
                                        <div class="article-card__counters">
                                            <div class="article-card__counter">
                                                <svg class="icon-svg article-card__counter-icon">
                                                    <use xlink:href="img/sprites/sprite.svg#icon-comments"></use>
                                                </svg>
                                                <span class="article-card__counter-text">
                                                    5
                                                </span>
                                            </div>
                                            <div class="article-card__counter">
                                                <svg class="icon-svg article-card__counter-icon">
                                                    <use xlink:href="img/sprites/sprite.svg#icon-eye"></use>
                                                </svg>
                                                <span class="article-card__counter-text">
                                                    163
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="slider-bottom__control">
                            <div class="slider-bottom__link slider-bottom__link--prev">
                                <svg class="icon-svg">
                                    <use xlink:href="img/sprites/sprite.svg#icon-slider-prev"></use>
                                </svg>
                            </div>
                            <div class="slider-bottom__link slider-bottom__link--next">
                                <svg class="icon-svg">
                                    <use xlink:href="img/sprites/sprite.svg#icon-slider-next"></use>
                                </svg>
                            </div>
                        </div>
                        <div class="slider-bottom__pagination"></div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    @@include("../blocks/modules/footer/footer.html")
    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>
</body>
</html>
