<!DOCTYPE html>
<html lang="ru">
<head>
    <title>6.Препарат «Спинраза» для больных СМА включат в перечень жизненно необходимых лекарств</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body">
    @@include("../blocks/modules/header/header.html")
    <main class="main">
        <section class="section section--breadcrumbs">
            <div class="container">
                <div class="breadcrumbs">
                    <a href="" class="breadcrumbs__link">
                        Главная
                    </a>
                    <svg class="icon-svg breadcrumbs__icon">
                        <use xlink:href="img/sprites/sprite.svg#icon-breadcrumbs-arrow"></use>
                    </svg>
                    <a href="" class="breadcrumbs__link">
                        Актуальное
                    </a>
                    <svg class="icon-svg breadcrumbs__icon">
                        <use xlink:href="img/sprites/sprite.svg#icon-breadcrumbs-arrow"></use>
                    </svg>
                    <span class="breadcrumbs__link breadcrumbs__link--static">
                        Препарат «Спинраза» для больных СМА включат в перечень жизненно необходимых лекарств
                    </span>
                </div>
            </div>
        </section>
        <section class="section section--top section--light">
            <div class="container">
                <h1 class="title-h1 title-h1--single">
                    Препарат «Спинраза» для больных СМА включат в перечень жизненно необходимых лекарств
                </h1>
                <div class="single-header">
                    <div class="single-header__main">
                        <p class="single-header__tag">
                            Актуальное
                        </p>
                        <div class="single-header__separator single-header__separator--large hidden-1200"></div>
                        <div class="single-header__category">
                            <a href="" class="single-header__name">
                                Ирина Пиренеева
                            </a>
                            <p class="single-header__title">
                                “Информация со вкусом”
                            </p>
                        </div>
                    </div>
                    <div class="single-header__info">
                        <time class="single-header__date" datetime="2020-07-16 08:15">15 июля |  08:15</time>
                        <div class="single-header__separator"></div>
                        <div class="single-header__counter">
                            <svg class="icon-svg single-header__counter-icon">
                                <use xlink:href="img/sprites/sprite.svg#icon-eye"></use>
                            </svg>
                            <span class="article-card__counter-text">
                                668
                            </span>
                        </div>
                        <div class="single-header__separator"></div>
                        <div class="single-header__counter">
                            <svg class="icon-svg single-header__counter-icon">
                                <use xlink:href="img/sprites/sprite.svg#icon-comments"></use>
                            </svg>
                            <span class="article-card__counter-text">
                                5
                            </span>
                        </div>
                    </div>
                    <div class="single-header__toolbar hidden-1200">
                        <a href="" class="btn btn--accent btn--180">
                            <span>
                                Обсудить
                            </span>
                        </a>
                    </div>
                </div>
                <div class="layout layout--flex">
                    <div class="layout__column layout__column--8">
                        <div class="single-content single-content--flex">
                            <div class="single-content__side">
                                @@include("../blocks/modules/social-side/social-side.html")
                            </div>
                            <div class="single-content__main">
                                @@include("../blocks/modules/text/text.html")
                            </div>
                        </div>
                    </div>
                    <div class="layout__column layout__column--4">
                        <sidebar class="sidebar sidebar--gray">
                            <div class="sidebar__title">
                                <div class="title-h2 title-h2--accent title-h2--side title-h2--bordered">
                                    <div class="title-h2__content">
                                        <h2 class="title-h2__text">
                                            Популярное
                                        </h2>
                                    </div>
                                </div>
                            </div> 
                            <div class="sidebar__articles">
                                <a href="" class="article-card article-card--side">
                                    <div class="article-card__content article-card__content--side">
                                        <p class="article-card__info">
                                            <span class="article-card__category">Мы и мир</span> <time class="article-card__date">15 июля |  08:15</time>
                                        </p>
                                        <h3 class="article-card__title">
                                            10 советов начинающему блоггеру
                                        </h3>
                                        <p class="article-card__text">
                                            Как подобрать качественный текст, подобрать картинки, найти друзей и получить грант... <span>читать далее</span>
                                        </p>
                                        <div class="article-card__counters">
                                            <div class="article-card__counter">
                                                <svg class="icon-svg article-card__counter-icon">
                                                    <use xlink:href="img/sprites/sprite.svg#icon-comments"></use>
                                                </svg>
                                                <span class="article-card__counter-text">
                                                    5
                                                </span>
                                            </div>
                                            <div class="article-card__counter">
                                                <svg class="icon-svg article-card__counter-icon">
                                                    <use xlink:href="img/sprites/sprite.svg#icon-eye"></use>
                                                </svg>
                                                <span class="article-card__counter-text">
                                                    163
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="" class="article-card article-card--side">
                                    <div class="article-card__content article-card__content--side">
                                        <p class="article-card__info">
                                            <span class="article-card__category">Мы и мир</span> <time class="article-card__date">15 июля |  08:15</time>
                                        </p>
                                        <h3 class="article-card__title">
                                            10 советов начинающему блоггеру
                                        </h3>
                                        <p class="article-card__text">
                                            Как подобрать качественный текст, подобрать картинки, найти друзей и получить грант... <span>читать далее</span>
                                        </p>
                                        <div class="article-card__counters">
                                            <div class="article-card__counter">
                                                <svg class="icon-svg article-card__counter-icon">
                                                    <use xlink:href="img/sprites/sprite.svg#icon-comments"></use>
                                                </svg>
                                                <span class="article-card__counter-text">
                                                    5
                                                </span>
                                            </div>
                                            <div class="article-card__counter">
                                                <svg class="icon-svg article-card__counter-icon">
                                                    <use xlink:href="img/sprites/sprite.svg#icon-eye"></use>
                                                </svg>
                                                <span class="article-card__counter-text">
                                                    163
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="" class="article-card article-card--side">
                                    <div class="article-card__content article-card__content--side">
                                        <p class="article-card__info">
                                            <span class="article-card__category">Мы и мир</span> <time class="article-card__date">15 июля |  08:15</time>
                                        </p>
                                        <h3 class="article-card__title">
                                            10 советов начинающему блоггеру
                                        </h3>
                                        <p class="article-card__text">
                                            Как подобрать качественный текст, подобрать картинки, найти друзей и получить грант... <span>читать далее</span>
                                        </p>
                                        <div class="article-card__counters">
                                            <div class="article-card__counter">
                                                <svg class="icon-svg article-card__counter-icon">
                                                    <use xlink:href="img/sprites/sprite.svg#icon-comments"></use>
                                                </svg>
                                                <span class="article-card__counter-text">
                                                    5
                                                </span>
                                            </div>
                                            <div class="article-card__counter">
                                                <svg class="icon-svg article-card__counter-icon">
                                                    <use xlink:href="img/sprites/sprite.svg#icon-eye"></use>
                                                </svg>
                                                <span class="article-card__counter-text">
                                                    163
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </sidebar>
                    </div>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <div class="layout layout--flex">
                    <div class="layout__column layout__column--8">
                        @@include("../blocks/modules/single-tags/single-tags.html")
                        <!-- @@include("../blocks/modules/single-toolbar/single-toolbar.html") -->
                        @@include("../blocks/modules/disquss/disquss.html")
                    </div>
                </div>
            </div>
        </section>
        <section class="section section--light">
            <div class="container">
                <div class="title-h2 title-h2--dark title-h2--bordered">
                    <div class="title-h2__content">
                        <h2 class="title-h2__text">
                            Читайте также
                        </h2>
                    </div>
                </div>
                <div class="articles">
                    <div class="articles__content articles__content--space-between">
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card.html")
                        </div>
                        <div class="articles__item articles__item--clear articles__item--25"></div>
                        <div class="articles__item articles__item--clear articles__item--25"></div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    @@include("../blocks/modules/footer/footer.html")
    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>
</body>
</html>
