<!DOCTYPE html>
<html lang="ru">
<head>
    <title>9.Мероприятия</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body">
    @@include("../blocks/modules/header/header.html")
    <main class="main">
        <section class="section section--breadcrumbs">
            <div class="container">
                <div class="breadcrumbs">
                    <a href="" class="breadcrumbs__link">
                        Главная
                    </a>
                    <svg class="icon-svg breadcrumbs__icon">
                        <use xlink:href="img/sprites/sprite.svg#icon-breadcrumbs-arrow"></use>
                    </svg>
                    <span class="breadcrumbs__link breadcrumbs__link--static">
                        Точки роста
                    </span>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">
                <h1 class="title-h1 title-h1--mb-small">
                    Точки роста
                </h1>
                <div class="title-h2 title-h2--purple title-h2--bordered">
                    <div class="title-h2__content">
                        <h2 class="title-h2__text">
                            Мероприятия
                        </h2>
                    </div>
                    <div class="title-h2__toolbar">
                        <a href="" class="btn btn--180 btn--purple">
                            <span>
                                Показать еще
                            </span>
                            <svg class="icon-svg btn__icon btn__icon--large">
                                <use xlink:href="img/sprites/sprite.svg#icon-btn-question"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="articles">
                    <div class="articles__content articles__content--space-between">
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card--event.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card--event.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card--event.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card--event.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card--event.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card--event.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card--event.html")
                        </div>
                        <div class="articles__item articles__item--25">
                            @@include("../blocks/modules/article-card/article-card--event.html")
                        </div>
                        <div class="articles__item articles__item--clear articles__item--33"></div>
                        <div class="articles__item articles__item--clear articles__item--33"></div>
                    </div>
                    <div class="articles__toolbar">
                        <a href="" class="btn btn--180 btn--purple">
                            <span>
                                Показать еще
                            </span>
                            <svg class="icon-svg btn__icon">
                                <use xlink:href="img/sprites/sprite.svg#icon-btn-loading"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section--light">
            <div class="container">
                <div class="title-h2 title-h2--dark title-h2--bordered">
                    <div class="title-h2__content">
                        <h2 class="title-h2__text">
                            Прошедшие мероприятия
                        </h2>
                    </div>
                    <div class="title-h2__toolbar">
                        <button class="slider-btn slider-btn--purple slider-btn--prev">
                            <svg class="icon-svg">
                                <use xlink:href="img/sprites/sprite.svg#icon-slider-prev"></use>
                            </svg>
                        </button>
                        <button class="slider-btn slider-btn--purple slider-btn--next">
                            <svg class="icon-svg">
                                <use xlink:href="img/sprites/sprite.svg#icon-slider-next"></use>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="slider-bottom">
                    <div class="swiper-container slider-bottom__container slider-bottom__container--4">
                        <div class="swiper-wrapper slider-bottom__wrapper">
                            <div class="swiper-slide slider-bottom__slide">
                                @@include("../blocks/modules/event-old/event-old.html")
                            </div>
                            <div class="swiper-slide slider-bottom__slide">
                                @@include("../blocks/modules/event-old/event-old.html")
                            </div>
                            <div class="swiper-slide slider-bottom__slide">
                                @@include("../blocks/modules/event-old/event-old.html")
                            </div>
                            <div class="swiper-slide slider-bottom__slide">
                                @@include("../blocks/modules/event-old/event-old.html")
                            </div>
                            <div class="swiper-slide slider-bottom__slide">
                                @@include("../blocks/modules/event-old/event-old.html")
                            </div>
                            <div class="swiper-slide slider-bottom__slide">
                                @@include("../blocks/modules/event-old/event-old.html")
                            </div>
                            <div class="swiper-slide slider-bottom__slide">
                                @@include("../blocks/modules/event-old/event-old.html")
                            </div>
                            <div class="swiper-slide slider-bottom__slide">
                                @@include("../blocks/modules/event-old/event-old.html")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section--bottom">
            <div class="container">
                <div class="title-h2 title-h2--accent title-h2--bordered">
                    <div class="title-h2__content">
                        <h2 class="title-h2__text">
                            FAQ
                        </h2>
                    </div>
                </div>
                <div class="articles">
                    @@include("../blocks/modules/faq-item/faq-item.html")
                    @@include("../blocks/modules/faq-item/faq-item.html")
                    @@include("../blocks/modules/faq-item/faq-item.html")
                    @@include("../blocks/modules/faq-item/faq-item.html")
                    @@include("../blocks/modules/faq-item/faq-item.html")
                </div>
            </div>
        </section>
    </main>
    @@include("../blocks/modules/footer/footer.html")
    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>
</body>
</html>
