.footer-top {
	display: flex;
	justify-content: space-between;
	@include r(1200) {
		font-weight: 300;
		flex-direction: column;
		align-items: center;
	}
	&__column {
		margin-bottom: 15px;
		@include r(1200) {
			width: 100%;
			max-width: 480px;
		}
		&--info {
			width: calc(100% / 12 * 3);
		}
		// &--2 {
		// 	width: calc(100% / 12 * 2 - 10px);
		// 	@include r(1200) {
		// 		width: 100%;
		// 	}
		// }
		// &--5 {
		// 	width: calc(100% / 12 * 5 - 10px);
		// 	@include r(1200) {
		// 		width: 100%;	
		// 	}
		// }
		// &--4 {
		// 	width: calc(100% / 12 * 4 - 10px);
		// 	@include r(1200) {
		// 		width: 100%;
		// 	}
		// }
		// &--3 {
		// 	width: calc(100% / 12 * 3 - 10px);
		// 	@include r(1200) {
		// 		width: 100%;
		// 	}
		// }
		&--mob-order {
			&-1 {
				@include r(1200) {
					order: -3;
				}
			}
			&-2 {
				@include r(1200) {
					order: -2;
				}
			}
			&-3 {
				@include r(1200) {
					order: -1;
				}
			}
		}
	}
	&__logo {
		&:hover {
			opacity: 0.7;
		}
		@include r(1200) {
			display: none;
		}
	}
	&__text {
		margin-bottom: 1rem;
		&:last-of-type {
			margin-bottom: 0;
		}
		&--small {
			font-size: 14px;
		}
		@include r(1200) {
			// padding-right: 0px;
			// padding-top: 20px;
			// padding-bottom: 20px;
		}
		a {
			color: #FF6060;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&__socials {
		@include r(1200) {
			display: flex;
			justify-content: space-between;
			padding-bottom: 14px;
			align-items: center;
			border-bottom: 1px solid #25878A;
		}
		&-top {
			font-weight: bold;
			font-size: 14px;
			margin-bottom: 20px;
			@include r(1200) {
				margin-bottom: 0px;
			}
		}
		&-items {
			display: flex;
			align-items: center;
		}
		&-link {
			display: flex;
			border-radius: 20px;
			justify-content: center;
			align-items: center;
			background-color: #25878A;
			width: 28px;
			height: 28px;
			color: $light;
			text-decoration: none;
			margin-right: 13px;
			&:last-of-type {
				margin-right: 0px;
			}
			svg {
				width: 100%;
				height: 100%;
				display: block;
			}
			&:hover {
				opacity: 0.7;
			}
		}
	}
}

@include r(1200) {
	
}