.none {
	&__columns {
		display: flex;
		justify-content: space-between;
	}
	&__column {
		&--left {
			width: calc(50% - 10px);
		}
		&--right {
			width: calc(100% / 12 * 5 - 10px);
		}
	}
	&__img {
		display: block;
		max-width: 100%;
		height: auto;
	}
}