.faq-item {
	&--open {
		.faq-item__content {
			max-height: 5000px;
			padding-top: 19px;
			padding-bottom: 19px;
			opacity: 1;
			@include r(1200) {
				padding-top: 14px;
				padding-bottom: 14px;
			}
		}
		.faq-item__icon {
			transform: rotate(0deg);
			fill: $accent;
		}
	}
	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 15px 20px;
		cursor: pointer;
		background-color: $light;
		@include r(1200) {
			padding-top: 15px;
			padding-bottom: 15px;
		}
	}
	&__title {

	}
	&__btn {
		width: 14px;
		height: 14px;
		box-sizing: content-box;
		border: none;
		padding: 2px;
		flex-shrink: 0;
		margin-left: 20px;
		background: none;
		cursor: pointer;
		@include r(1200) {
			display: none;
		}
	}
	&__main {
		padding-top: 1px;
		padding-bottom: 1px;
	}
	&__content {
		padding-top: 0px;
		padding-bottom: 0px;
		max-height: 0px;
		overflow: hidden;
		transition: 0.3s all;
		opacity: 0;
	}
	&__icon {
		display: block;
		height: 14px;
		width: 14px;
		fill: $dark;
		transition: 0.3s all;
		transform: rotate(45deg);
	}
}