* {
	box-sizing: border-box;
}

a {
	transition: 0.3s all;
}

.fancybox-content {
	padding: 0px;
}

.fancybox-slide--html .fancybox-close-small {
    right: 10px;
    top: 10px;
}

.hidden {
	visibility: hidden;
	display: none;
}